
.fto-spin1:before { content: '\e830'; } /* '' */
.fto-spin2:before { content: '\e831'; } /* '' */
.fto-spin3:before { content: '\e832'; } /* '' */
.fto-spin4:before { content: '\e834'; } /* '' */
.fto-spin5:before { content: '\e838'; } /* '' */
.fto-spin6:before { content: '\e839'; } /* '' */
.fto-crown:before { content: '\e844'; } /* '' */
.fto-crown-plus:before { content: '\e845'; } /* '' */
.fto-crown-minus:before { content: '\e846'; } /* '' */
.fto-marquee:before { content: '\e847'; } /* '' */
