// @type
$color-main: #f8c551;
$color-sub: #28c8aa;
$color-gray-shallow: #c6c6c6;
$color-gray-middle: #6e6e6e;
$color-gray-deep: #323232;

$color-text-main: #909399;

$color-text-danger: red;
$color-text-warning: red;
$color-text-ignore: red;
