.root {
	display: flex;
	flex-direction: column;

	background: white;

	&.shadow :global {
		&-always {
			box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
			border: 1px solid #737373;
		}
	}
}
.header {
	display: flex;

	& .title {
		font-size: 14px;
		color: beige;
	}
}
.content {
	display: flex;
}
.footer {
	display: flex;
}

// @type
